{% extends "base.html" %}

{% block additional_js %}
<script>
function ajaxupdate() {
    var url = "/cmap/{{cmap_name}}/"+$(".slider").map(function(){return this.value;}).get().join("/");
    //alert(url);
    $.ajax({
        url: url,
        success: function(data) {
            //alert(data);
            $(".debug").html(data);
        },
        failure: function(data) { 
            alert('Got an error dude');
        }
    }); 
    $('.cmaplinklist').find('a').each(function() {
        var baseurl = $(this).attr('href');
        var surl = baseurl.split("/");
        var newurl = "/"+surl[1]+"/"+surl[2]+"/"+$(".slider").map(function(){return this.value;}).get().join("/");
        $(this).attr('href', newurl);
        //console.log(surl);
    });
}
$(document).on("pageinit", function() {
    $(".int-slider").each(function() {
        var $this = $(this);
        $(".slider", $this).on("slidestop", function( event, ui ) { ajaxupdate(); });
    });
});
</script>
{% endblock %}

{% block content %}
<div role="main" class="ui-content">
    <div class="int-slider">
        <label for="slider_nmaps">alpha</label>
        <input class="slider" type="range"
                              name="alpha"
                              id="slider_alpha"
                              value="{{alpha}}" min="0" max="255" step="8">
        <div class="slider"></div>
    </div>
    <div class="int-slider">
        <label for="slider_nmaps">Nmaps</label>
        <input class="slider" type="range"
                              name="Nmaps"
                              id="slider_Nmaps"
                              value="{{Nmaps}}" min="1" max="60" step="1">
        <div class="slider"></div>
    </div>
    <div class="int-slider">
        <label for="slider_speed">Speed</label>
        <input class="slider" type="range"
                              name="Speed"
                              id="slider_speed"
                              value="{{Ncolorsteps}}" min="0" max="20" step="1">
        <div class="slider"></div>
    </div>
    <br>
    <div class="cmaplinklist">
        <ul data-role="listview">
            {% for cmap in cmaplist %}
            <li>
                <a href="{% url 'cmap_view' cmname=cmap alpha=alpha Nmaps=Nmaps Ncolorsteps=Ncolorsteps %}"
                   rel="external">
                    {{cmap}}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
