{% extends "base.html" %}
{% block additional_js %}
<script>
locked_colors = false;

function ajaxupdate() {
    locked_colors = true;
    var colors = get_current_slider_colors();
    var url = "/rgb/"+colors.join("/");
    console.log(url);
    $.ajax({
        url: url,
        success: function(data) {
            $(".oldcolor").html(data);
            locked_colors = false;
        },
        failure: function(data) { 
            alert('Got an error dude');
        }
    }); 
}

function get_current_slider_colors() {
    return $(".slider-input").map(function(){return this.value;}).get().slice(0,4);
}

function colors_watcher_update() {
    if (locked_colors === true) { return; }
    var colors = get_current_slider_colors();

    $.get( "{% url 'rgb_get_lamp_colors' %}", function( data ) {
        db_colors=data.colors;
        if(colors.join(',') !== data.colors.join(',')) {
            //console.log('updating colors from', colors.join(','), data.colors.join(','));
            $( ".slider-input" ).each(function(idx) {
                $(this).val(data.colors[idx]).slider( "refresh" );
            });
        } else {
            console.log('colors are up to date:', data.colors.join(', '));
        }
    });
}

$(document).on("pageinit", function() {
    $(".color-slider").each(function() {
        var $this = $(this);
        $(".slider-input", $this).on("slidestop", function( event, ui ) { ajaxupdate(); });
    });
    colors_watcher = setInterval( colors_watcher_update, 1000);
});

</script>
{% endblock %}

{% block content %}
<div role="main" class="ui-content">
    {% for c in color %}
    <div class="color-slider">
        <label for="slider_{% cycle 'Red' 'Green' 'Blue' 'Alpha'%}">
            {% cycle 'Red' 'Green' 'Blue' 'Alpha'%}
        </label>
        <input class="slider-input"
               type="range"
               name="{% cycle 'Red' 'Green' 'Blue' 'Alpha'%}"
               id="slider_{% cycle 'Red' 'Green' 'Blue' 'Alpha'%}"
               value="{{c}}" min="0" max="255" step="8">
    </div>
    {% endfor %}
</div>
{% endblock %}
